body {
  background-color: black;
  font-family: 'Teko', sans-serif ;
}

main{
  display: block;
  height: 22.375rem;
}
footer{
  text-align: center;
  color: rgb(224, 191, 0);
}

.texto {
  text-align: center;
  color: rgb(224, 191, 0);
}
.divider {
  height: 1px;
  background: linear-gradient(
    270deg,
    rgb(224, 191, 0) 0%,
    rgb(53, 53, 53) 100%
  );
}

.button {
  text-align: center;
}

.button-pg2{
  text-align: center;
}

.btn {
  margin-top: 8px;
  font-family: 'Teko', sans-serif;
  background-color: black;
  color: rgb(224, 191, 0);
  border-color: rgb(224, 191, 0);
  border-radius: 10%;
  padding: auto;
}
.btn:hover {
  background-color: rgb(224, 191, 0);
  transition: 0.5s;
}
.header-pg2{
  height: 6.713rem;
}
.images{
  text-align: center;
}

/*#divisor1 {
  margin-top: 15%;
  height: 1px;
  background: linear-gradient(
    270deg,
    rgb(224, 191, 0) 0%,
    rgb(53, 53, 53) 100%
  );
}*/

#btn1 {
  align-self: baseline;
  font-family: 'Teko', sans-serif;
  background-color: black;
  color: rgb(224, 191, 0);
  border-color: rgb(224, 191, 0);
  border-radius: 10%;
  padding: auto;
}
#btn1:hover{
  background-color: rgb(224, 191, 0);
  color: black;
  transition: 0.5s;
}
